nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: $warna;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: $background_warna;
  }